# {{ ansible_managed }}

add_newline = false

[character]
symbol = "$"

[hostname]
ssh_only = false

[username]
show_always = true

[kubernetes]
disabled = false

[directory]
truncate_to_repo = false

[terraform]
disabled = true

[env_var]
variable = "CLOUDSDK_ACTIVE_CONFIG_NAME"
style = "dimmed white"

[nodejs]
disabled = true

[java]
disabled = true

[package]
disabled = true
