# {{ ansible_managed }}
case "$TERM" in
xterm*|rxvt*)
  PROMPT_COMMAND='echo -ne "\033]0;${USER}@${HOSTNAME}: ${PWD}\007"'

  show_command_in_title_bar() {
    case "$BASH_COMMAND" in
      *\033]0*)
        # The command is trying to set the title bar as well;
        # this is most likely the execution of $PROMPT_COMMAND.
        # In any case nested escapes confuse the terminal, so don't
        # output them.
        ;;
      *)
        echo -ne "\033]0;${USER}@${HOSTNAME}: ${BASH_COMMAND}\007"
        ;;
    esac
  }
  trap show_command_in_title_bar DEBUG
  ;;
*)
  ;;
esac
