# {{ ansible_managed }}

Include ~/.ssh/*.config

Host *
  HashKnownHosts no
  ControlMaster auto
  ControlPath ~/.ssh/%r@%h:%p
  ControlPersist 60m
  ForwardAgent yes
  ServerAliveInterval 60
  TCPKeepAlive yes
