" {{ ansible_managed }}

" general
set nocompatible              " be iMproved, required for vundle
filetype off                  " required for vundle
set background=dark           " 1337 :)
let base16colorspace=256      " better than 16
set termguicolors             " cause it's better with colors
syntax on                     " let vim works, not my brain
set viminfo=!,'100,<9999,s100 " 100 marks, 9999 lines max in a register, 100 Ko max in a register

" search
set incsearch                 " search fucking right now !
set hlsearch                  " and give me some yellow !
set ignorecase                " case insensitive search

" tabs, spaces and indeting
set expandtab                 " use spaces when press tab
set tabstop=2                 " define 2 spaces for 1 tab useful for :retab for example
set softtabstop=2             " use 2 spaces when press tab
set shiftwidth=2              " 2 spaces for indentation

" set the runtime path to include Vundle and initialize
set rtp+=~/.vim/bundle/Vundle.vim
call vundle#begin()

" let Vundle manage Vundle, required
Plugin 'VundleVim/Vundle.vim'
Plugin 'w0rp/ale'
Plugin 'nathanaelkane/vim-indent-guides'
Plugin 'chriskempson/base16-vim'
Plugin 'lepture/vim-jinja'
Plugin 'godlygeek/tabular'
Plugin 'plasticboy/vim-markdown'
Plugin 'editorconfig/editorconfig-vim'
Plugin 'tpope/vim-sensible'
Plugin 'ervandew/supertab'

" All of your Plugins must be added before the following line
call vundle#end()            " required
filetype plugin indent on    " required

" Ale
let g:ale_echo_msg_error_str = 'E'
let g:ale_echo_msg_warning_str = 'W'
let g:ale_echo_msg_format = '[%linter%] %s [%severity%]'
let g:ale_yaml_yamllint_options = "--config-file ~/.yamllint.yml"

" Indent guides
let g:indent_guides_enable_on_vim_startup = 1
let g:indent_guides_guide_size = 1

" Base16
colorscheme base16-material

" Markdown
let g:vim_markdown_folding_disabled = 1

" Automatically set paste mode when pasting something
let &t_SI .= "\<Esc>[?2004h"
let &t_EI .= "\<Esc>[?2004l"
inoremap <special> <expr> <Esc>[200~ XTermPasteBegin()
function! XTermPasteBegin()
  set pastetoggle=<Esc>[201~
  set paste
  return ""
endfunction

" Netrw configuration (file explorer)
let g:netrw_banner = 0
let g:netrw_liststyle = 3
let g:netrw_browse_split = 4
let g:netrw_altv = 1
let g:netrw_winsize = 25
