# {{ ansible_managed }}

function gcpconf {
  gcloud config configurations list | grep -E --color=auto '.*True.*|$'
}

function gcplist {
  gcloud compute instances list --format="table[box](name,creationTimestamp:sort=1,status,metadata.items.version,metadata.items.sha1,INTERNAL_IP)"
}
